<h1><%= post.title %></h1>
<div>Price: <%= post.price %></div>
<div>Description: <%= post.description %></div>
<div>Location: <%= post.location %></div>
<div class="">
  <% post.images.forEach((image) => { %>
    <img style="max-width:20%;" src="<%= image.url %>" alt="" >
  <% }); %>
</div>
<div class="">
  <a href="/posts/<%= post.id %>/edit">
    <button>Edit</button>
  </a>
</div>
<div class="">
  <form class="" action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
</div>
